doctype html
html(lang='fr')
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        title Modifier compte
        // CSS THEME
        link(rel='stylesheet' href='resources/css/vendor.bundle.base.css')
        link(rel='stylesheet' href='resources/css/style.css')
    body#body
        .container-scroller
            .container-fluid.page-body-wrapper.full-page-wrapper
                .content-wrapper.d-flex.align-items-center.theme-one
                    .row.w-100.mx-auto
                        .col-lg-8.col-xl-4.mx-auto
                            .auto-form-wrapper
                                .row.mt-5
                                    .col-12
                                        img.mt-5.mb-5.col-4.offset-4.col-md-2.offset-md-5.col-xl-4.offset-xl-4.img-fluid(src='resources/img/sport_track.png')
                                        form(action='' method='POST')
                                            .row
                                                .col-10.offset-1.col-md-6.offset-md-0
                                                    .form-group
                                                        label Nom :
                                                        input.form-control.form-control-lg(type='text' name='lastName' minlength='1' maxlength='30' value=user.lastName)
                                                .col-10.offset-1.col-md-6.offset-md-0
                                                    .form-group
                                                        label Prénom :
                                                        input.form-control.form-control-lg(type='text' name='firstName' minlength='1' maxlength='30' value=user.firstName)
                                            .row
                                                .col-10.offset-1.col-md-6.offset-md-0
                                                    .form-group
                                                        label Date de naissance :
                                                        input.form-control.form-control-lg(type='date' name='birthday' value=user.birthday disabled='')
                                                .col-10.offset-1.col-md-6.offset-md-0
                                                    .form-group
                                                        label Genre :
                                                        input.form-control.form-control-lg(type='text' name='gender' minlength='1' maxlength='50' value=user.gender)
                                            .row
                                                .col-10.offset-1.col-md-6.offset-md-0
                                                    .form-group
                                                        label Taille (cm) :
                                                        input.form-control.form-control-lg(type='number' name='height' min='1' value=user.height)
                                                .col-10.offset-1.col-md-6.offset-md-0
                                                    .form-group
                                                        label Masse (kg) :
                                                        input.form-control.form-control-lg(type='number' name='weight' min='1' value=user.weight)
                                            .row
                                                .col-10.offset-1.col-md-6.offset-md-0
                                                    .form-group
                                                        label Email :
                                                        input.form-control.form-control-lg(type='email' name='email' minlength='1' maxlength='50' value=user.email disabled='')
                                                .col-10.offset-1.col-md-6.offset-md-0
                                                    .form-group
                                                        label Mot de passe :
                                                        input.form-control.form-control-lg(type='password' name='pwd' minlength='6')
                                            input(type='hidden' name='page' value='modify_account')
                                            .row.mt-3
                                                .col-md-6.offset-md-0.mb-2.d-none.d-md-block
                                                    a.btn.btn-block.btn-primary.return(style='cursor: pointer; color: white; text-decoration: none;' href='/') Retour
                                                .col-10.offset-1.col-md-6.offset-md-0.mb-2
                                                    button.btn.btn-block.btn-primary(type='submit') Enregistrer
                                                .mt-3.col-10.offset-1.mb-2.d-block.d-md-none
                                                    a.btn.btn-block.btn-primary.return(style='cursor: pointer; color: white; text-decoration: none;' href='/') Retour