doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        table(border='1')
            thead
                tr
                    th email
                    th firstName
                    th lastName
                    th birthday
                    th gender
                    th height
                    th weight
                    th pwd
            tbody
                each val in data
                    tr
                        td= val.email
                        td= val.firstName
                        td= val.lastName
                        td= val.birthday
                        td= val.gender
                        td= val.height
                        td= val.weight
                        td= val.pwd
